In [2]:
import pandas as pd 
import numpy as np

df = pd.read_csv('All Recorded PABT Passenger.txt', sep = None, engine = 'python')
df.head(5)

               ﻿Start_Date                 End_Date    Carrier   Volume
0  2020-12-07 00:00:00.000  2020-12-11 00:00:00.000    Academy    613.0
1  2020-12-07 00:00:00.000  2020-12-11 00:00:00.000  Greyhound    702.0
2  2020-12-07 00:00:00.000  2020-12-11 00:00:00.000      Martz    475.0
3  2020-12-07 00:00:00.000  2020-12-11 00:00:00.000  NJTransit  27174.0
4  2020-12-07 00:00:00.000  2020-12-11 00:00:00.000   Lakeland    280.0

In [3]:
df.columns = ['Start_Date', 'End_Date', 'Carrier', 'Volume']

In [4]:
df['Start_Date'] = pd.to_datetime(df['Start_Date']).dt.date
df['End_Date'] = pd.to_datetime(df['End_Date']).dt.date

In [5]:
df['Volume'] = pd.to_numeric(df['Volume'], errors='coerce')

In [31]:
carrier_totals = df.groupby('Carrier')['Volume'].sum().sort_values(ascending=False)
print(carrier_totals)

Carrier
NJTransit            12985016.0
NJ Transit            1452175.0
Coach USA              972252.0
HCEE - Community       330976.0
Greyhound              320417.4
Academy                245524.2
Lakeland               240602.0
Peter Pan_Bonanza      201468.0
Martz                  160137.0
TransBridge            129736.0
Trailways              112371.0
DeCamp                  42084.0
Academy                  5643.0
C&J Bus Lines              28.0
C & J Bus Lines             0.0
Name: Volume, dtype: float64

In [32]:
# Create a mapping for all your identified duplicates
name_mapping = {
    'NJTRANSIT': 'NJ TRANSIT',
    'NJ TRANSIT': 'NJ TRANSIT',
    'C & J BUS LINES': 'C&J BUS LINES',
    'C&J BUS LINES': 'C&J BUS LINES',
    # Academy had two entries in your list; this merges them
    'ACADEMY': 'ACADEMY'
}

# 1. Standardize to Uppercase and Strip whitespace first
df['Carrier'] = df['Carrier'].str.upper().str.strip()

# 2. Apply the mapping
df['Carrier'] = df['Carrier'].replace(name_mapping)

# 3. Re-run the sum to see the true totals
carrier_totals_cleaned = df.groupby('Carrier')['Volume'].sum().sort_values(ascending=False)
print(carrier_totals_cleaned)

Carrier
NJ TRANSIT           14437191.0
COACH USA              972252.0
HCEE - COMMUNITY       330976.0
GREYHOUND              320417.4
ACADEMY                251167.2
LAKELAND               240602.0
PETER PAN_BONANZA      201468.0
MARTZ                  160137.0
TRANSBRIDGE            129736.0
TRAILWAYS              112371.0
DECAMP                  42084.0
C&J BUS LINES              28.0
Name: Volume, dtype: float64

In [34]:
df.to_csv('PABT_Passenger_Cleaned.csv', index=False)

In [35]:
df1 = pd.read_csv('Facility Mobility Speeds.txt', sep = None, engine = 'python')
df1.head(5)

,﻿Facility,Freeflow,Month_Year,Avg_Speed,Direction,Delta,Facility_Order
0,BB,44.9,2025-03-01 00:00:00.000,46.9,EB,2.0,4
1,BB,45.0,2025-03-01 00:00:00.000,48.4,WB,3.4,4
2,GB,44.9,2025-03-01 00:00:00.000,44.6,EB,-0.3,5
3,GB,44.9,2025-03-01 00:00:00.000,47.9,WB,3.0,5
4,GWB,46.1,2025-03-01 00:00:00.000,30.5,EB,-23.2,1

In [36]:
df1.columns = ['Facility', 'Freeflow', 'Month_Year', 'Avg_Speed', 'Direction', 'Delta', 'Facility_Order']

In [37]:
df1['Month_Year'] = pd.to_datetime(df1['Month_Year']).dt.date

In [38]:
cols_to_numeric = ['Freeflow', 'Avg_Speed', 'Delta', 'Facility_Order']
for col in cols_to_numeric:
    df1[col] = pd.to_numeric(df1[col],errors = 'coerce')

In [39]:
df1.to_csv('Mobility_Speeds_Cleaned.csv', index=False)

In [40]:
df2 = df1.to_csv('Mobility_Speeds_Cleaned.csv', index=False)